* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-weight: 800;
  font-family: "Figtree", sans-serif;
}

img {
  display: block;
  margin: 24px auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

#published {
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
}
#description {
  margin: 12px 0 0 0;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #7f7f7f;
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin: 12px 0;
}

.container {
  overflow: hidden;
  min-height: 100vh;
  background-color: #f4d04e;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-card {
  width: 384px;
  height: 522px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px 0px black;
}

.container-card:hover {
  cursor: pointer;
  h1 {
    color: #f4d04e;
  }
}

.container-img {
  height: 200px;
  margin: 24px 24px;
}

.content {
  width: 336px;
  height: 194px;
  margin: 24px auto;
}

.content button {
  width: 82px;
  height: 29px;
  background-color: #f4d04e;
  border-radius: 4px;
  border: none;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  outline: none;
}

.avatar {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.avatar .avatar-img {
  margin: 0;
  width: 32px;
  height: 32px;
}

#authorname {
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
}

.attribution {
  width: 50%;
  margin: 28px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.attribution a {
  text-decoration: none;
  color: red;
}

@media screen and (max-width: 720px) {
  .container {
    width: 720px;
    height: 1250px;
  }

  img {
    width: 279px;
    height: 200px;
  }

  .container-card {
    width: 327px;
    height: 501px;
    box-shadow: 9px 9px 0px black;
  }

  .content {
    width: 279px;
    height: 173px;
    margin: 24px auto;
  }

  #published {
    font-size: 12px;
  }

  #description {
    font-size: 13px;
  }

  .avatar {
    margin-top: 25px;
  }

  .attribution {
    width: 100%;
    margin-top: 13px;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 20px;
  }
  .container {
    width: 375px;
    height: 812px;
  }

  img {
    max-width: 100%;
    width: 279px;
    height: 200px;
  }

  .container-card {
    width: 327px;
    height: 501px;
  }

  .container-card {
    box-shadow: 7px 7px 0px black;
  }

  .content {
    width: 279px;
    height: 173px;
    margin: 24px auto;
  }

  #published {
    font-size: 12px;
  }

  #description {
    font-size: 12px;
  }

  .avatar {
    margin-top: 20px;
  }

  .attribution {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
  }
}
