* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.figtree-unique {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}*/

body {
  font-size: 20px;
  font-weight: 800;
  font-family: "Figtree", sans-serif;
}

img {
  display: block;
  margin: 24px auto;
}

#published {
  font-size: 14px;
  font-weight: 400;
}
#description {
  margin: 12px 0 0 0;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #7f7f7f;
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin: 12px 0;
}

.container {
  width: 1440px;
  height: 960px;
  background-color: #f4d04e;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card {
  width: 384px;
  height: 522px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid black;
}

.content {
  width: 336px;
  height: 194px;
  margin: 24px auto;
}

.content button {
  width: 82px;
  height: 29px;
  background-color: #f4d04e;
  border-radius: 4px;
  border: none;
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  outline: none;
}

.avatar {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.avatar .avatar-img {
  margin: 0;
  width: 32px;
  height: 32px;
}

#authorname {
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
}
